* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: black;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  width: 60%;
}
.main .display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main .display .displayVidImg {
  width: 100%;
}
.buttons {
  background-color: rgb(77, 146, 13);
}

.buttons .buttonGroup {
  display: flex;
  justify-content: space-between;
}

.buttonGroup .btn {
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 12px;
  text-align: center;
}

@media screen and (max-width: 705px) {
  .buttonGroup .btn {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  .buttonGroup .btn {
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 476px) {
  .buttonGroup .btn {
    font-size: 8px;
  }
}

@media screen and (max-width: 386px) {
  .buttonGroup .btn {
    font-size: 6px;
    margin: 10px 5px;
  }
}
